.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}


/* SWITCH SCALE */
.dark_mode {
  transform: scale(4.5);
  transform-origin: center;
  margin-bottom: 40px;
}

/* SWITCH BODY */
.dark_mode_label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}

/* SLIDER */
.dark_mode_label::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 50%;
  transition: 0.3s;
}

/* HIDE CHECKBOX */
.dark_mode_input {
  visibility: hidden;
}

/* DARK MODE */
.dark_mode_input:checked + .dark_mode_label {
  background: #242424;
}

.dark_mode_input:checked + .dark_mode_label::after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

/* ICONS */
.dark_mode_label svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 10;
}

.sun {
  left: 5px;
  fill: white;
}

.moon {
  left: 40px;
  fill: #7e7e7e;
}

.dark_mode_input:checked + .dark_mode_label .sun {
  fill: #7e7e7e;
}

.dark_mode_input:checked + .dark_mode_label .moon {
  fill: white;
}

h1 {
  color: var(--body_color);
}
